*{
    margin: 0;
    padding: 0;
}


body {
    color: rgb(34, 31, 31);
    background-color: rgb(202, 127, 202);
}

header{
background-color: rgb(255, 255, 255);
text-align: center;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 40px;
    
}

.principalvd {
    box-shadow: 0 0 70px rgb(255, 255, 255);
    max-width: 3000px;
    margin: 0 auto;
    border-radius: 9px;
    display: flex-end;
    background-color: #000000;
    padding: 2px;
}
.texto1{
    text-align: center;
    display: flex-end;
}