*{
    margin: 0;
    padding: 0;
}


body {
    color: #372800;
    background-color: #f6b60d;
}

header{
background-color: #390879;
text-align: center;
}

.titulo {
    color: #f6b60d;
    font-size: 40px;
    flex: 1;
    
}

.principalvd {
    box-shadow: 0 0 70px rgb(255, 255, 255);
    max-width: 3000px;
    margin: 0 auto;
    border-radius: 9px;
    display: flex-end;
    background-color: #000000;
    padding: 2px;
}
.texto1{
    text-align: center;
    display: flex-end;
    line-height: 20px;
}

.lk{
  line-height: 15px;
}

.chamada{
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-left: 35%;

}
.categoria-video{
    height: 200;
}
